body {
  background-color: $blue-grey-darken-2//$special-color-dark;
  //font-family: "Cascadia Code"
}

//se metto lo stile qua lo prende, se lo metto in app-component no
.navbar {
  min-height: 4rem;
}

section {
  color: #fff;
  margin-bottom: 3rem;
  .container {
    padding-left: 1.5rem;
  }
}

//immagine sotto header
.bg-container {
  margin-top: 4rem;
  height: 15rem;
}

.container_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
