<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color-dark fixed-top"  [containerInside]="true">
     <links>
      <ul class="navbar-nav mr-auto">
        <ng-container *ngFor="let link of links">
        <li class="nav-item" [ngClass]="{'active': link.selected}">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="{{link.route}}" (click)="navLink(link)">{{link.name}}</a>
        </li>
        </ng-container>
      </ul>
    </links>
  </mdb-navbar>
</header>

