<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 fixed-bottom">
  <div class="container-fluid">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/gianlucafiorini/" target="_blank" mdbBtn [floating]="true" color="li" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/glfiorini" target="_blank" mdbBtn [floating]="true" color="black" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="x-twitter" ></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.youtube.com/@glfiorini" target="_blank" mdbBtn [floating]="true" color="yt" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="youtube" ></mdb-icon>
        </a>
      </li>

    </ul>
  </div>
  <div class="footer-copyright text-center py-3">© 2023
      <a href="#">gianlucafiorini.it</a>
  </div>

</footer>
