$color-primary: #00609D;
$color-secondary: #002F56;
$color-danger: #ff4136;


//bootstrap variables override
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "danger": $color-danger
);



